<h1>Edit <%= @article.title %></h1>
  <p>Published <%= @article.created_at.strftime('%b %d %Y') %></p>
  <p>Filed Under <% @article.categories.each do |category| %>
      <%= category.name %>
      <% end %>
  <div id="main-content"> <%= render :partial => 'form' %> </div>
</div>

