<h1>Welcome to Wikiful</h1>
<p>Here's the most recent feed</p>
<p>
<div>
<% @recent_articles.each do |article| %>
   <h3> <%= link_to article.title, article %> </h3>
   <h5> <%= article.updated_at.strftime('%e %B %Y at %H:%M') %> </h5>
   <%= raw(article.content.truncate(160,  separator: ' ', :omission => (link_to "....(continued)", article ))) %>
<% end %>
</div>
</p>
