<h1>Categories</h1>
<ul>
    <% @categories.each do |category| %>
        <li><%= link_to category.name, category %> : <%= category.updated_at.strftime("%e %B %Y at %H:%M") %></li>
    <% end %>
</ul>
